.root {
    /*composes: root from "../Page/Page.css";*/
    display: flex;
    height: calc(100% - 52px);
}

.column {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.cell {
    height: 50%;
}

.cell_result {
    padding: 10px;
    color: white;
}
